body{
	background-color: white;
}

ul {
	/*
	list-style-type: none;
	margin: 0;
	padding: 0;*/
  }

#navbar{
	width: 100%;
	margin-top: 0%;
	background-color: white;
	position: fixed;
	height: 80px;
	
	border-bottom: 1px solid #d2d4d8;
}
.iframe{	
	padding-top: 80px;
	margin-left: 10%;
	
}
#sidebar{
	margin-top: 81px;
	float:left;
	height:80%;
	width:30%;
	background-color: white;
}

#main_body{
	margin-right:0;
	float: left;
	height: 80%;
	width:65%;
	background-color: white;
}


li {
	list-style-type: none;
	display: inline-block;
	float: left;
	margin-right: 35px;
	margin-top: 20px;
}
#search{
	margin-top: 0;
	
	margin-right: 200px;
	margin-left: 100px;
	padding-right: 0;
}
#input{
	width: 500px;
	height: 20px;

}
#search-button{
	margin-top: 15px;
	padding-bottom: 5px;

}
#button{
	height: 15px;
	width: 30px;
}

.sidepics{
	margin: 4px 3px;
	width: 150px;
	height: 120px;
	/* float: left; */
}
/* .side p{
	margin: 15px 5px;
	width: 100px;
} */
h2{
	margin-left: 100px;
}

p{
	margin-left: 100px;
}